[Unit]
Description={{ node_binary }} service
After=network.target

[Service]
LimitNOFILE=32768
User=root
Group=root
Type=simple
SuccessExitStatus=SIGKILL 9
ExecStart=/usr/local/bin/{{ node_binary }}
ExecStop=/usr/bin/pkill -9 {{ node_binary }}
Restart=on-failure
TimeoutStopSec=10s
TimeoutStartSec=10s

[Install]
WantedBy=multi-user.target 